<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="Cfg-NET" version="0.2.5" targetFramework="net451" />
  <package id="Cfg-NET.Reader" version="0.0.3" targetFramework="net451" />
  <package id="LinqOptimizer.CSharp" version="0.6.3" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
</packages>