<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cfg-NET" version="0.2.9" targetFramework="net4" />
  <package id="Cfg-NET.Reader" version="0.0.5" targetFramework="net4" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net4" />
  <package id="RazorEngine" version="3.7.2" targetFramework="net4" />
</packages>